.sites{
  
}
.title{
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.wells{
  &__list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0 1rem;
    row-gap: 1rem;
  }
  &__title-list{
    font-size: 1rem;
    color: gray;
    display: flex;
    margin-inline: 1rem;
    padding: 0.3rem;
    padding-block: 0;
  }
}