.card{
  color: white;
  background-color: purple;
  border-radius: 0.6rem;
  padding: 0.1rem 0.5rem;
  width: 100%;
  button{
    user-select: none;
    display: flex;
    margin-left: auto;
  }
  &__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
  }
  &__list{
    align-items: center;
    display: flex;
    padding: 0;
    column-gap: 0.4rem;
    margin-left: 1rem;
  }
}