.card{
  display: flex;
  flex-direction: column;
  color: white;
  background-color: purple;
  border-radius: 0.6rem;
  padding: 0.1rem 0.5rem;
  width: 100%;
  height: 100%;
  button{
    user-select: none;
    display: flex;
    margin-left: auto;
  }
  &__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    margin-top: auto;
    text-align: center;
    flex-direction: column;
  }
  &__list{
    $gap: 0.4rem;
    margin-top: 0.6rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: $gap;
    padding: 0;
    column-gap: $gap;
    margin-left: 1rem;
  }
}