@keyframes loading-animation {
  0%{
    content: ".";
    opacity: 1;
  }
  25%{
    opacity: 0.2;
  }
  50%{
    content: "..";
    opacity: 1;
  }
  75%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
    content: "...";
  }
}
.loading{
  justify-content:  center;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  animation: loading-animation 2s linear infinite;
  @media screen and (width < 48.75rem) {
    font-size: clamp(2rem, 6.15vw ,3rem);
  }
  &::after{
    content: ".";
    animation: loading-animation 2s linear infinite;
  }
}